# MINERVA PROJECT CONFIGURATION
#
# The defaults should be enough to get you up and running. Just copy this file to a file named .env
# and start the project with `docker-compose up -d`
#

# GENERAL CONFIGURATION
MINERVA_CONFIG_PGID=1001
MINERVA_CONFIG_PUID=1001
MINERVA_CONFIG_NETWORK_SUBNET=172.18.0.1/16

# FOLDER MAPPINGS
MINERVA_LOCATION_TORRENT_DOWNLOADS=~/Minerva/Downloads
MINERVA_LOCATION_TORRENT_WATCH=~/Minerva/Watch

# NETWORK SETTINGS
MINERVA_NETWORK_MEDIA_IP=172.18.0.2
MINERVA_NETWORK_TRANSMISSION_IP=172.18.0.3
MINERVA_NETWORK_TRANSMISSION_PORT_WEB=9091:9091
MINERVA_NETWORK_TRANSMISSION_PORT_TORRENT=51413:51413
MINERVA_NETWORK_TRANSMISSION_PORT_TORRENT_UDP=51413:51413/udp
