# MINERVA PROJECT CONFIGURATION
#
# The defaults should be enough to get you up and running. Just copy this file to a file named .env
# and start the project with `docker-compose up -d`


########################################
# GENERAL CONFIGURATION
########################################

MINERVA_CONFIG_PGID=1000
MINERVA_CONFIG_PUID=1000

########################################
# FOLDER MAPPINGS
########################################

# Torrents
MINERVA_LOCATION_TORRENT_DOWNLOADS=~/Minerva/Downloads
MINERVA_LOCATION_TORRENT_WATCH=~/Minerva/Watch

# Media
MINERVA_LOCATION_TVSHOWS=~/Minerva/Media/Shows
MINERVA_LOCATION_MOVIES=~/Minerva/Media/Movies

########################################
# NETWORK SETTINGS
########################################

# Transmission
MINERVA_NETWORK_TRANSMISSION_HOSTNAME=transmission.minerva

# Sonarr
MINERVA_NETWORK_SONARR_HOSTNAME=sonarr.minerva

# radarr
MINERVA_NETWORK_RADARR_HOSTNAME=radarr.minerva
#
# plex
MINERVA_NETWORK_PLEX_HOSTNAME=plex.minerva
