# MINERVA PROJECT CONFIGURATION
#
# The defaults should be enough to get you up and running. Just copy this file to a file named .env
# and start the project with `docker-compose up -d`


########################################
# GENERAL CONFIGURATION
########################################

MINERVA_CONFIG_PGID=1000
MINERVA_CONFIG_PUID=1000
MINERVA_CONFIG_NETWORK_SUBNET=172.13.0.1/16

########################################
# FOLDER MAPPINGS
########################################

# Torrents
MINERVA_LOCATION_TORRENT_DOWNLOADS=~/Minerva/Downloads
MINERVA_LOCATION_TORRENT_WATCH=~/Minerva/Watch

# Media
MINERVA_LOCATION_TVSHOWS=~/Minerva/Media/Shows
MINERVA_LOCATION_MOVIES=~/Minerva/Media/Movies

########################################
# NETWORK SETTINGS
########################################

# Media Container
MINERVA_NETWORK_MEDIA_HOSTNAME=media.minerva
MINERVA_NETWORK_MEDIA_IP=172.13.0.2

# Transmission
MINERVA_NETWORK_TRANSMISSION_HOSTNAME=transmission.minerva
MINERVA_NETWORK_TRANSMISSION_IP=172.13.0.3
MINERVA_NETWORK_TRANSMISSION_PORT_WEB=9091:9091
MINERVA_NETWORK_TRANSMISSION_PORT_TORRENT=51413:51413
MINERVA_NETWORK_TRANSMISSION_PORT_TORRENT_UDP=51413:51413/udp

# Sonarr
MINERVA_NETWORK_SONARR_HOSTNAME=sonarr.minerva
MINERVA_NETWORK_SONARR_IP=172.13.0.4
MINERVA_NETWORK_SONARR_PORT=8989:8989

# radarr
MINERVA_NETWORK_RADARR_HOSTNAME=radarr.minerva
MINERVA_NETWORK_RADARR_IP=172.13.0.5
MINERVA_NETWORK_RADARR_PORT=7878:7878
#
# plex
MINERVA_NETWORK_PLEX_HOSTNAME=plex.minerva
MINERVA_NETWORK_PLEX_IP=172.13.0.6
MINERVA_NETWORK_PLEX_PORT_WEB=32400:32400
MINERVA_NETWORK_PLEX_PORT_SERVER=32469:32469
MINERVA_NETWORK_PLEX_PORT_UDP1=32400:32400/udp
MINERVA_NETWORK_PLEX_PORT_UDP2=32469:32469/udp
MINERVA_NETWORK_PLEX_PORT_UDP3=5353:5353/udp
MINERVA_NETWORK_PLEX_PORT_UDP4=1900:1900/udp

